/* 
    Document   : common
    Created on : Jan 7, 2014, 6:53:27 PM
    Author     : Development
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.list{
    position: relative;
    padding: 13px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13pt;
    font-weight: 200;
    line-height: 1.3636;
    border-bottom: 1px solid #e0e0e0;
    list-style: none outside none;
}
.question {
	font-weight:bold;
	cursor:pointer;
	
}
.answer {
	margin-top:5px;
	font-size:90%
}

.winner-list{
    position: relative;
    margin-top: 10px;

    padding: 10px 10px 10px 10px;
   
    font-size: 13pt;
    font-weight: 200;
    line-height: 1.3636;
    border-bottom: 1px solid #e0e0e0;
}

.center-wrapper{
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}
.home-demo-logo
{
    width: 238px;
    height: 95px;
    background: url("../content/images/playwin-logo.png") no-repeat center center;
    background-size: 85% auto;
    margin: 2% auto 0px;
    height: 95px;
}

p {
    padding: 0px;
	margin:5px 0;
    font-size: 0.95em;
    font-weight: normal;
    color:#226494
}

p1 {
    
    
    color:#e0e0e0;
}




ol ul {
    padding-top:5px;
    padding-bottom:5px
}
ul li {
    list-style:disc inside none
}
.youTube{
    background: url("../content/images/social/youTube.png") no-repeat center center;
    width:40px;
    height:40px;	
    background-size: 90% auto;
    float:left;
    margin:0px 10px;

}
.facebook{
    background: url("../content/images/social/facebook.png") no-repeat center center;
    width:40px;
    height:40px;	
    background-size: 90% auto;
    float:left;
    margin:0px 10px;
}
.twitter{
    background: url("../content/images/social/twitter.png") no-repeat center center;
    width:40px;
    background-size: 90% auto;
    float:left;
    height:40px;	
    margin:0px 10px;
}
.blogger{
    background: url("../content/images/social/blogger.png") no-repeat center center;
    width:40px;
    background-size: 90% auto;
    float:left;
    height:40px;	
    margin:0px 10px;
}

.homeButton {
    float:left;
    width:75px;
    height:75px
}

h1 {
    padding:20px 0 0 10px;
    font-size:120%;
    color:#226494
}
ul, ol {
    padding:20px 20px 0 20px;
    font-size:100%;
    color:#226494;
	font-size:0.95em;
}
ol {
    padding:0px 10px 20px 40px;
	margin:0;
}
.prizeStructure {
    margin: 40px;
}
.panel, .prizeStructure table {
    width: 100%;
}
.panel th, .prizeStructure th {
    background-color: #BAD7ED;
    color: #226494;
    font-size: 90%;
    font-weight: bold;
    height: 26px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}
.panel td, .prizeStructure td {
    background-color: #E4E6E8;
    color: #226494;
    cursor: pointer;
    font-size: 90%;
}
.prizeStructure td {
    text-align: center;
}
ul{
    padding:10px 10px 0 10px;
	margin:0 0 15px;

}
h2{
	text-transform:uppercase;
	font-size:1em;
	padding:0;
	margin:0;
}
#idYear li{
 list-style:none;
}
.list a{
	text-decoration:none;
}
.ui-btn{
	padding:5px;
}
.dx-popup-title{
border-bottom: 2px solid #32A7D3;
color: #32A7D3;
}
.ui-popup{
color: #FFF;
background: none repeat scroll 0% 0% #FFFF49;
box-shadow: 1px 2px 14px 3px rgba(0, 0, 0, 0.6);}
.lotto_select{
	float:left;
	margin-right:5px;
}
.lotto_tr_div, lotto_table_div{
	clear:both;
}
#pnlDetails .textbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    box-shadow: 2px 2px 2px 0 #6D6A66;
    color: #226494;
    font-family: inherit;
    font-size: 1em;
    margin: 0 0 10px;
    padding: 4px 4px 4px 6px;
    resize: none;
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	}
	
	.aboutGame {
                margin:40px 10px;
                clear:both
            }
            .aboutGame ul li {
                list-style:outside
            }
			.ui-input-text {
			background:#fff;
			}