
.gameBox{
    height:82px; width:90%;margin:15px 4%;
}
.myRule {
    position: absolute;
    /*bottom: 0;
    top: 32px;*/
    width: 100%;
}
.upper {
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    margin: 0 0 20px 0;
}
.passbook {
    /* width: 200px; 
     height: 50px;
     position: relative;*/

    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
}
.rotate-3dX {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    
    
}
.rotate-3dX .back{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}
/*.ie .win8 .rotate-3dX .front{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}*/

 .rotate-3dX .front{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

/*.rev-rotate-3dX .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}*/


.rev-rotate-3dX .back {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
}
.rev-rotate-3dX .front{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}




.face {
    position: absolute;
    width:100%;
    
    /* top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     color: white;
     line-height: 50px;
     text-align: center;*/
}
.no-hide .face {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
}
.front {
    /*background: red;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    z-index: 10;
}
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.rotate-3dX .front {
    z-index: 0;
} 


/*------------------------*/
.blue, .yellow{
    width:auto;
   height:83px;
    border:2px solid #81bae3; 
    background:#dfeaf2; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.yellow{
    border: 2px solid #cbc805;
    background:#fcff05;
	height:auto;
}
.yellow b span{
	line-height:0.8em;
}
.face .blue .icon-info{
    position:absolute;
    top:67px;
    left:0px;
    background-image: url(../content/images/icon_info.png);
    border:0px;
    width:20px;
    height:20px;
}
.face .blue .icon-result{
    position:absolute;
    top:58px;
    left:5px;
    background: url(../content/images/icon_result.png?3) no-repeat scroll 0% 0% transparent;
    width:20px;
    height:20px;
    border:none;
}
.face .yellow .icon-info{
    position:absolute;
    top:60px;
    left:0px;
    background-image: url(../content/images/icon_info_y.png);
    height:20px;
    width:20px;
}
.face .yellow .icon-result{
    position:absolute;
    top:58px;
    left:5px;
    border:none;
    background: url(../content/images/icon_result_y.png?3) no-repeat scroll 0% 0% transparent;
    width:20px;
    height:20px;
}
.blue img, .yellow img{
    /*cursor:pointer;*/
}
/* --------------    ------------------- */
.resultBall {
	width:25px;
	height:30px;
	float:left;
	background:url(../content/images/ball_sm.png?1) no-repeat;
	padding:6px 0 0 10px;
	font-size:100%;
	color:#4d5363
}
.resultBallBig {
	width:30px;
	height:40px;
	float:left;
	background:url(../content/images/ball_big.png) no-repeat;
	padding:8px 0 0 13px;
	font-size:100%
}
.stepSide {
	margin-top:10px;
	width:90%;
	background:url(../content/images/stepSide.png) no-repeat
}
.stepNo {
	background:url(../content/images/step.png) no-repeat;
	height:30px;
	padding:5px 10px;
	float:left
}
.stepTitle {
	padding:5px 0;
	margin-left:40px
}
input.lottotbox {
	border-radius:5px 5px 5px 5px;
	height:25px;
	margin:5px;
	padding:2px;
	width:25px
}
.row_remove #add_row {
	text-decoration:none
}
#err_span {
	color:red
}
input.lottotbox {
	border-radius:5px 5px 5px 5px;
	height:25px;
	margin:5px;
	padding:2px;
	width:25px
}
.dx-button {
	display:inline-block;
	margin:1px 0;
	cursor:pointer;
	text-align:center;
	vertical-align:middle;
	max-width:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-ms-user-drag:none;
	-o-user-drag:none;
	user-drag:none
}
.dx-button1 {
	background-color:#efe95f;
	color:#385487;
	border:0;
	-webkit-box-shadow:2px 2px 2px 0 #4e87b1;
	-moz-box-shadow:2px 2px 2px 0 #4e87b1;
	-ms-box-shadow:2px 2px 2px 0 #4e87b1;
	-o-box-shadow:2px 2px 2px 0 #4e87b1;
	box-shadow:2px 2px 2px 0 #4e87b1;
	padding:6px;
	background:#efe95f url(/content/images/arrow.png) no-repeat 95% 9px
}
.blue .dx-button2, .yellow .dx-button2 {
	cursor:pointer;
	background-color:#226494;
	color:#fff;
	border:0;
	padding:2px;
	padding-top:0;
	text-align:center;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px
	
}
.yellow .dx-button2 {
	background-color:#630
}
.dx-button2 .dx-button-text {
	font-size:9pt;
	font-family:Calibri;
	font-weight:bold;
	color:#fff;
	padding:0 2px;
	display:inline;
	text-shadow:0 -1px 0 rgba(0, 0, 0, .5)
}
.dx-button .dx-button-content {
	text-overflow:ellipsis;
	overflow:hidden;
	max-height:100%
}
.dx-button.dx-state-disabled {
	cursor:default
}
.dx-button .dx-button-link {
	text-decoration:none
}
.dx-button .dx-icon {
	display:inline-block;
	vertical-align:middle
}
.dx-button .dx-button-text {
	display:inline;
	vertical-align:middle
}